<p class="page-heads" style="">YOUR IAAPA STORIES</p>


<div style="width:100%; margin:auto;">
  <div style="width:80%; margin:auto;">
  <p style="text-align:center; font-weight:lighter; font-size:18px; display:inline-block; margin-top:-27px; color:#6e6e6e;">What does IAAPA mean to you? What is most rewarding about being an IAAPA member? What is your favorite IAAPA memory or story? Members from all over the world have shared their stories of how the association has helped shape careers, grow business, and create memories.</p>
</div>

  <!-- <hr style="width:75%; border: .5px solid #b09b66; margin-top:25px; margin-bottom:50px;"> -->

  <div class="content-div" style="width:80%; margin:auto;">
    <div class="inner-div" style="">
      <div>
        <a href="https://marqueeapp.herokuapp.com/" target="_blank"><img class="shadow-img" style="width:395px; height:410px; margin-top:38px; margin-left:65px;" src="img/aziz.png" alt=""></a>
    </div>
      <div>
        <!-- <h3 class="content-heads" style = " font-weight:lighter; margin-top:5px; margin-bottom:-30px;">Aziz Person</h3> -->
        <div class="p-div-right" style="height:410px;">
          <h3 class="page-heads" style="font-weight:bold; text-align:left; font-size:50px; margin-bottom:-50px;">
    Aziz Person</h3>
          <p class="page-heads" style=" text-align:left; font-size:25px; letter-spacing:0px;">"Not My First Rodeo"</p>
          <h4>CEO of Fun Corp.</h4>
          <p style="display:inline-block; margin-top:-20px;">Orlando, FL</p>

          <p>Lo-fi seitan four loko artisan leggings. Blog american apparel craft beer, readymade thundercats letterpress squid. Farm-to-table VHS vinyl leggings, mustache 3 wolf moon art party. Lomo farm-to-table skateboard brunch banh mi PBR. Gluten-free messenger bag sustainable blog, gentrify next level terry richardson retro. Letterpress raw denim iphone, mustache beard art party VHS you probably haven't heard of them gentrify brooklyn bicycle rights 3 wolf moon tattooed jean shorts gluten-free. Retro organic iphone you probably haven't heard of them readymade.

        </p>
      </div>

    </div>
  </div>

  <!-- <hr style="width:80%; border: .5px solid #b09b66; margin-top:50px; margin-bottom:50px;"> -->


  <div class="content-div" style="margin-bottom:50px; margin-top:40px;">
    <div class="inner-div">
      <div>
        <!-- <h3 class="content-heads" style = " font-weight:lighter; margin-top:5px; margin-bottom:-30px;">Aziz Person</h3> -->
        <div class="p-div" style="height:370px; margin-right:-70px;">
          <h3 class="page-heads" style="font-weight:bold; text-align:left; font-size:50px; margin-bottom:-50px;">
    Walter Guy</h3>
          <p class="page-heads" style=" text-align:left; font-size:25px;">"Aziz is a Damn Liar"</p>
          <h4>The REAL CEO of Fun Corp.</h4>
          <p style="display:inline-block; margin-top:-20px; color:#b09b66;">Orlando, FL</p>

          <p>Lo-fi seitan four loko artisan leggings. Blog american apparel craft beer, readymade thundercats letterpress squid. Farm-to-table VHS vinyl leggings, mustache 3 wolf moon art party. Lomo farm-to-table skateboard brunch banh mi PBR. Gluten-free messenger bag sustainable blog, gentrify next level terry richardson retro. Letterpress raw denim iphone, mustache beard art party VHS you probably haven't heard of them gentrify brooklyn bicycle rights 3 wolf moon tattooed jean shorts gluten-free. Retro organic iphone you probably haven't heard of them readymade.

        </p>
      </div>

    </div>

      <div style="">
        <a href="https://marqueeapp.herokuapp.com/" target="_blank"><img class="shadow-img" style="width:355px; height:370px; margin-top:38px; margin-left:65px;" src="img/walter.png" alt=""></a>
    </div>
  </div>
  </div>

  <!-- <hr style="width:80%; border: .5px solid #b09b66; margin-top:25px; margin-bottom:50px;"> -->


  <!-- <div class="story-box">
    <div class="story-content">
      <h4 style="margin-top:5px;">Rollercoaster of Love</h4>
      <p style="overflow:hidden;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="story-content">
      <h4 style="margin-top:5px;">Mister Twister</h4>
      <p style="font-weight:lighter; font-size:12px; text-align:center; display:inline-block; margin-top:-14px;">Guy 2
      <br>Coaster Co.
      <br>Executive Guy
      <br>Orlando
      </p>
      <p style="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="story-content">
      <h4 style="margin-top:5px;">Loop de Whoops</h4>
      <p style="overflow:hidden;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div> -->

  <!-- <hr style="width:75%; border: .5px solid #b09b66; margin-top:50px; margin-bottom:25px;"> -->

<div style="width:80%; margin:auto; margin-top:60px;">
  <p class="page-heads" style="">SHARE YOUR STORY</p>
  <p style="text-align:center; font-weight:lighter; font-size:18px; display:inline-block; margin-top:-18px;">There is no IAAPA without the members it serves. For a century, the association has helped members. Members define IAAPA, and now we'd like you to help us tell that story.

  Simply fill out the form below to submit your IAAPA story, video, or pictures. Your contribution may be featured on this page and archived as a part of IAAPA's history.
  </p>
</div>

<div class="form-body">
<form id="form" class="topBefore">

		  <div style="display:flex; justify-content:space-around;">
        <input id="name" type="text" placeholder="NAME">
        <input id="email" type="text" placeholder="E-MAIL">
      </div>
      <div style="display:flex; justify-content:space-around;"><input id="name" type="text" placeholder="COMPANY"> <input id="name" type="text" placeholder="TITLE"><input id="name" type="text" placeholder="LOCATION"></div>
		  <input id="email" type="text" placeholder="E-MAIL">
		  <textarea id="message" type="text" placeholder="YOUR STORY"></textarea>
  <input id="submit" type="submit" value="GO!">

</form>

    <script src="js/index.js"></script>

</div>


  <hr style="width:80%; border: .5px solid #b09b66; margin-top:50px; margin-bottom:25px;">


  <div class="story-box">
    <div class="story-content">
      <h4 style="margin-top:5px;">Rollercoaster of Love</h4>
      <p style="overflow:hidden;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="story-content">
      <h4 style="margin-top:5px;">Mister Twister</h4>
      <p style="font-weight:lighter; font-size:12px; text-align:center; display:inline-block; margin-top:-14px;">Guy 2
      <br>Coaster Co.
      <br>Executive Guy
      <br>Orlando
      </p>
      <p style="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="story-content">
      <h4 style="margin-top:5px;">Loop de Whoops</h4>
      <p style="overflow:hidden;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div> -->

  <!-- <hr style="width:75%; border: .5px solid #b09b66; margin-top:50px; margin-bottom:25px;">
</div>
