<p class="page-heads" style="font-size:50px;">ABOUT IAAPA</p>


<div style="width:80%; max-width:1100px; margin:auto; margin-bottom:200px;">
  <p style="text-align:center; font-weight:lighter; font-size:18px; display:inline-block; margin-top:0px; color:#696969;">Founded in 1918, the International Association of Amusement Parks and Attractions (IAAPA) is the largest international trade association for permanently situated amusement facilities worldwide. The organization represents more than 5,300 facility, supplier, and individual members from more than 100 countries.</p>



  <p style="color:#696969; text-align:center; font-weight:lighter; font-size:18px; display:inline-block; margin-top:6px;">Over the last 100 years, the trade association's mission has remained steadfast: serving its members in the attractions industry. The association has also grown dramatically over the years, matching pace with the industry it supports. As IAAPA celebrates its centennial in 2018, take a look back through its first 100 years of history to understand how the association grew its scope and services, and discover its bold new plan to build the future.

  <p style="color:#696969; text-align:center; margin-bottom:0px;"><a href="http://www.iaapa.org" target="_blank" style="color:#b09b66;">Learn more about IAAPA</a></p>
  <p style="color:#696969; text-align:center; margin-bottom:50px;"><a href="http://www.iaapa.org/funworld" target="_blank" style="color:#b09b66;">Read the special Centennial Issue of Funworld, the official magazine of IAAPA.</a></p>
</div>
