<p class="page-heads" style="">CELEBRATE THE CENTENNIAL WITH IAAPA</p>


<div style="width:80%; margin:auto; margin-bottom:100px; display:flex; flex-direction:column; align-items:center;">
  <p style="text-align:center; font-weight:lighter; font-size:18px; margin-top:-20px; margin-bottom:20px; color:#696969;">
    Join the festivities and toast to a century of IAAPA at these events
  </p>

  <a style="display:block; text-decoration:none;"target="_blank" href=" http://www.iaapa.org/events-education/events/LeadershipConference"><h4 style="font-size:20px; margin-bottom:-10px;">IAAPA Leadership Conference 2018</h4> </a>
  <p style="margin-bottom:-10px;"><strong>March 6-9, 2018</p></strong>
  <em><p>Tokyo and Osaka, Japan</p></em>

  <a style="display:block; text-decoration:none;"target="_blank" href="  http://www.iaapa.org/expos/asian-attractions-expo/home"><h4 style="font-size:20px; margin-bottom:-10px;">Asian Attractions Expo 2018</h4> </a>
  <p style="margin-bottom:-10px;"><strong>June 5-8, 2018</p></strong>
  <em><p>Hong Kong</p></em>

  <a style="display:block; text-decoration:none;"target="_blank" href="  http://www.iaapa.org/expos/euro-attractions-show/home"><h4 style="font-size:20px; margin-bottom:-10px;">Euro Attractions Show 2018</h4> </a>
  <p style="margin-bottom:-10px;"><strong>September 23-27, 2018</p></strong>
  <em><p>Amsterdam, The Netherlands</p></em>

  <a style="display:block; text-decoration:none;"target="_blank" href="  http://www.iaapa.org/expos/iaapa-attractions-expo/home"><h4 style="font-size:20px; margin-bottom:-10px;">IAAPA Attractions Expo 2018</h4> </a>
  <p style="margin-bottom:-10px;"><strong>November 12-16, 2018</p></strong>
  <em><p>Orlando, FL </p></em>

  <div class="gallery cf" style="margin-top:40px;">
    <div>
      <img src="/assets/img/kickoff.png" />
    </div>
    <div>
      <img src="http://abload.de/img/a6aawu.jpg" />
    </div>
    <div>
      <img src="http://abload.de/img/a6aawu.jpg" />
    </div>
  </div>

</div>
