<!-- <div ng-if="{authUser}" class="" style="display:flex; justify-content:center; margin-top:40px;">
  <button ng-show="vm.authUser == true" ng-click="vm.logout()" id="logout-btn" style=""type="button" name="button">Logout</button>
  <p>{{vm.authUser}}</p>

</div> -->
<p class="page-heads" style="">IAAPA ORAL HISTORY PROJECT</p>


<div style="width:80%; margin:auto; margin-bottom:100px;">
  <p style="text-align:center; font-weight:lighter; font-size:18px; margin-top:0px; color:#696969;">
    The mission of the IAAPA Oral History Project is to honor the attractions pioneers, trailblazers, and risk-takers, the people whose vision, passion, and persistence built a great industry. In so doing, we hope to educate those who currently carry the torch and inspire the next generation of global attractions industry leaders. Over the year, visit this page to hear the IAAPA story in their own words.

  </p>
</div>


<div class ="video-container" style="display:flex; width:100%; margin:auto; justify-content:space-around; align-items:center; margin-bottom:100px;">

  <div style="display:flex; flex-direction:column; width:570px; height:507px; text-align:center;">
    <h2>John Graff</h2>
    <p style="padding-left:10px; padding-right:10px;">During his 20 years of service with IAAPA, John Graff transformed the mostly United States-based organization of the early 1980s into a respected global association.</p>
  <iframe  style="margin-top:32px;" width="450" height="315" src="https://www.youtube.com/embed/FK2I20ZTrAU" frameborder="3" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<div style="display:flex; flex-direction:column; width:560px; text-align:center;">
  <h2>Albert Zamperla</h2>
  <p style="padding-left:10px; padding-right:10px;">Since the 1960s, Zamperla SpA has manufactured some of the attractions industry's most iconic rides. President and CEO Alberto Zamperla shares his company's history and the importance of the IAAPA trade shows to a diversifying market.</p>
  <iframe width="450" height="315" src="https://www.youtube.com/embed/BTtaKp72AGc" frameborder="3" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<div style="display:flex; flex-direction:column; width:560px; text-align:center;">
  <h2>Rene Aziz</h2>
  <p style="padding-left:10px; padding-right:10px;">Rene Aziz opened his first park in 1983 with only one ride. Three years later, he joined IAAPA, knowing few park operators outside Mexico. By 2000, he was elected IAAPA Chairman of the Board, the first chairman from Latin America.</p>
  <iframe style="margin-top:25px;" width="450" height="315" src="https://www.youtube.com/embed/X9mO2TN2Mvw" frameborder="3" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

</div>

<div class ="video-container" style="display:flex; width:100%; margin:auto; justify-content:space-around; align-items:center; margin-bottom:100px;">

  <div style="display:flex; flex-direction:column; width:560px; text-align:center; height:700px;">
    <h2>Gina Romano</h2>
    <p style="padding-top:60px; padding-left:10px; padding-right:10px;">Gina Romano was the first woman to chair the IAAPA Board of Directors. She grew up in the industry, working at her family's attraction, Nellie Bly Amusement Park in Brooklyn, New York. Romano led the way in showing how women should be part of the growing international organization.</p>
      <iframe style="margin-top:110px;" width="450" height="315" src="https://www.youtube.com/embed/fmVcja-B4uk" frameborder="2" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<div style="display:flex; flex-direction:column; width:560px; text-align:center;">
  <h2>Tony Sze</h2>
  <p style="padding-left:10px; padding-right:10px;">From a restaurant and safari park, China's Chimelong has grown into a major force in the country's leisure industry. Tony Sze has seen the amusement park segment flourish in the nation, and across the Asia-Pacific region. He has served as a member on the IAAPA Board of Directors and as chair of the Asian Advisory Committee. Here, Sze shares his insight into the booming industry in Asia-Pacific. About the IAAPA Oral History Project The mission of the IAAPA Oral History Project is to honor the attractions pioneers, trailblazers, and risk-takers, the people whose vision, passion and persistence built a great industry. In so doing, we hope to educate those who currently carry the torch and inspire the next generation of global attractions industry leaders.</p>
<iframe width="450" height="315" src="https://www.youtube.com/embed/yrri_h35jTo" frameborder="3" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<div style="display:flex; flex-direction:column; width:560px; height:700px; text-align:center;">
  <h2>Bob Masterson</h2>
  <p style="padding-left:10px; padding-right:10px;">During his 36 years at Ripley’s Entertainment, Bob Masterson took a collection of small museums filled with oddities and built an attraction chain respected around the world. With that proven business acumen, when Masterson spoke, people listened. As a board member and officer of IAAPA, Masterson’s message was clear: small operators worldwide could be successful, as well—especially if they joined IAAPA and used the organization’s resources and benefits to the fullest. Masterson generated much attention and respect for the small attraction industry within IAAPA and served the first chairman from this segment.</p>
<iframe style="margin-top:39px;" width="450" height="320" src="https://www.youtube.com/embed/g3hJHeitfE0" frameborder="3" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>



</div>

<div class ="video-container" style="display:flex; width:100%; margin:auto; justify-content:space-around; align-items:center; margin-bottom:100px;">

  <div style="display:flex; flex-direction:column; width:560px; height:507px; text-align:center;">
    <h2>Carl Hughes</h2>
    <p style="padding-left:10px; padding-right:10px;">The first “Living Legend” inducted into the IAAPA Hall of Fame, Carl Hughes, was also the first to cross many of the industry’s thresholds. While president of Pennsylvania’s Kennywood amusement park, Hughes was elected IAAPA President (now chairman) of the IAAPA Board of Directors—the first non-owner to hold such a major role in the association. </p>
<iframe width="450" height="315" src="https://www.youtube.com/embed/w2mbvDexzdY" frameborder="2" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<div style="display:flex; flex-direction:column; width:560px; height:507px; text-align:center;">
  <h2>Tim O'Brien</h2>
  <p style="padding-left:10px; padding-right:10px;">Tim O'Brien is a long-time attractions industry journalist and IAAPA Hall of Fame recipient. He talks about the evolution of the attractions industry.</p>
<iframe style="margin-top:84px;"width="450" height="315" src="https://www.youtube.com/embed/T0bbDk2emKI" frameborder="3" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<div style="display:flex; flex-direction:column; width:560px; height:507px; text-align:center;">
  <h2>Mario Mamon</h2>
  <p style="padding-left:10px; padding-right:10px;">When Mario Mamon and his family were making plans to build their own theme park in the Philippines, their first stop was the IAAPA convention and trade show. Mamon would go on to become the first IAAPA chairman from Asia-Pacific.</p>

<iframe style="margin-top:58px;"width="450" height="315" src="https://www.youtube.com/embed/kp6HK05kJeA" frameborder="2" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>


</div>

<div class ="video-container" style="display:flex; width:100%; margin:auto; justify-content:space-around; align-items:center; margin-bottom:200px;">
  <div style="display:flex; flex-direction:column; width:560px; height:507px; text-align:center;">
    <h2>Ricardo Castillo Sinibaldi</h2>
    <p style="padding-left:10px; padding-right:10px;">Ricardo Castillo Sinibaldi has built five amusement parks and several high quality hotels in his native country of Guatemala over the past 50 years. He founded the Institute for the Recreation of the Workers of the Guatamalan Private Sector (IRTRA) and is a recipient of the IAAPA Lifetime Service Award.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/1hQ1iYwKChY" frameborder="2" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<div style="display:flex; flex-direction:column; width:560px; height:507px; text-align:center;">
  <h2>Marcelo Gutglas</h2>
  <p style="padding-left:10px; padding-right:10px;">Marcelo Gutglas founded the first amusement park in Brazil in the 1970s. He went on to launch Hopi Hari, another successful amusement park, and the Playland chain of family entertainment centers, which can now be found throughout Latin America. He also founded two industry associations: ADIBRA and SINDEPAT.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/GeEtdgpqRbA" frameborder="2" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

</div>
