<p class="page-heads" style="">IAAPA ORAL HISTORY PROJECT</p>


<div style="width:80%; margin:auto; margin-bottom:100px;">
  <p style="text-align:center; font-weight:lighter; font-size:18px; margin-top:0px; color:#696969;">
    The mission of the IAAPA Oral History Project is to honor the attractions pioneers, trailblazers, and risk-takers, the people whose vision, passion, and persistence built a great industry. In so doing, we hope to educate those who currently carry the torch and inspire the next generation of global attractions industry leaders. Over the year, visit this page to hear the IAAPA story in their own words.

  </p>
</div>


<div style="display:flex; width:100%; margin:auto; justify-content:space-around; margin-bottom:100px;">
  <iframe frameborder="2" allowfullscreen style=""width="420" height="315"
src="https://www.youtube.com/embed/M7e88y2hFyo">
  </iframe>


  <iframe frameborder="3" allowfullscreen style="" width="420" height="315"
src="https://www.youtube.com/embed/r5wCVPWnBW4">
  </iframe>

  <iframe style="" allowfullscreen width="420" height="315"
src="https://www.youtube.com/embed/TYfxwK5qo84">
  </iframe>

</div>

<div style="display:flex; width:70%; margin:auto; justify-content:space-around; margin-bottom:200px;">
  <iframe frameborder="2" allowfullscreen style=""width="420" height="315"
src="https://www.youtube.com/embed/IFx66K9Ncp4">
  </iframe>


  <iframe frameborder="3" allowfullscreen style="" width="420" height="315"
src="https://www.youtube.com/embed/JZfqDZC-J9U">
  </iframe>



</div>
