<p class="page-heads" style="font-size:50px; margin-top:100px;">YOUR IAAPA STORIES</p>


<div style="width:100%; margin:auto;">
  <div style="width:80%; margin:auto; margin-bottom:100px;">
  <p style="text-align:center; font-weight:lighter; font-size:18px; display:inline-block; margin-top:-27px; color:#696969;">What does IAAPA mean to you? What is most rewarding about being an IAAPA member? What is your favorite IAAPA memory or story? Members from all over the world have shared their stories of how the association has helped shape careers, grow business, and create memories.</p>
</div>

  <hr style="width:90%; border: .5px solid #b09b66; margin-top:25px; ">

<div class="jon-div" style=" display:flex; justify-content:left; height:auto; margin-bottom:100px; margin-top:100px;">
  <img src="/assets/img/stories/large-quote.png" style="transform: scale(.3,.2); margin-top:-200px;" alt="">
  <div style="margin-left:-60px; font-size:20px;"> <p class="page-heads" style="font-size:20px; letter-spacing:0px; text-align:left; color:#696969;">Without a doubt, the annual IAAPA Attractions Expo in Orlando.It’s an exciting show, and it makes me very proud to be a member of this fantastic association.The amount of time, energy, planning, and passion that goes into the show and each exhibit is incredible</p>
  <p class="page-heads" style=" color:#696969; font-size:15px; letter-spacing:0px; text-align:left;">  — Jon W. Brady Vice President, Business Development, Player One Amusement Group, Mississauga, Ontario, Canada</p>
  </div>
  <img src="/assets/img/stories/jon-brady.png" style="transform: scale(1.38,1.38); margin-left:100px;margin-right:100px; float:right; clear:left;" alt="">
</div>
<hr style="width:90%; border: .5px solid #b09b66; margin-top:25px; margin-bottom:50px;">

<div style="width:80%; margin:auto; margin-top:60px;">
  <p class="page-heads" style="">SHARE YOUR STORY</p>
  <p style="text-align:center; font-weight:lighter; font-size:18px; display:inline-block; margin-top:-18px; color:#696969">There is no IAAPA without the members it serves. For a century, the association has helped members. Members define IAAPA, and now we'd like you to help us tell that story.

  Simply fill out the form below to submit your IAAPA story, video, or pictures. Your contribution may be featured on this page and archived as a part of IAAPA's history.
  </p>
</div>

<div class="form-body">
<form id="form" class="topBefore">

		  <div style="display:flex; justify-content:space-around;">
        <input id="name" type="text" placeholder="NAME">
        <input id="email" type="text" placeholder="E-MAIL">
      </div>
      <div style="display:flex; justify-content:space-around;"><input id="name" type="text" placeholder="COMPANY"> <input id="name" type="text" placeholder="TITLE"><input id="name" type="text" placeholder="LOCATION"></div>
		  <input id="email" type="text" placeholder="E-MAIL">
		  <textarea id="message" type="text" placeholder="YOUR STORY"></textarea>
      <input id="submit" type="submit" value="SUBMIT">

</form>

    <script src="js/index.js"></script>

</div>

</div>
