<p class="page-heads" style="font-size:50px; margin-top:100px;">YOUR IAAPA STORIES</p>


<div style="width:100%;  margin:auto;">
  <div style="width:80%;max-width:1100px; margin:auto; margin-bottom:100px;">
  <p style="text-align:center; font-weight:lighter; font-size:18px; display:inline-block; margin-top:-27px; color:#696969;">What does IAAPA mean to you? What is most rewarding about being an IAAPA member? What is your favorite IAAPA memory or story? Members from all over the world have shared their stories of how the association has helped shape careers, grow business, and create memories.</p>
</div>

<hr style="width:85%; border: .5px solid #b09b66; margin-top:25px; margin-bottom:50px;">

<div class="jon-div rev" style=" padding-left:100px;">
  <div style="display:block; opacity:.5; float:left; clear:right; height:95px; width:92px;">
      <img style="float:left; clear:right; display:inline-block; margin-right:20px;"src="/assets/img/stories/new-quote.png" style="" alt="" />
    </div>
  <div style="margin-left:-60px; font-size:20px;"> <p class="page-heads" style="font-size:20px; letter-spacing:0px; text-align:left; color:#696969;">
    <img style="float:right; clear:left; display:inline-block; margin-left:10px;" src="/assets/img/stories/quinn-large.png" style="" alt="">
<p>

The 1993 IAAPA Summer Meeting in Liseberg, Sweden, where a “Viking food fight” broke out. We were taken out on a fishing trawler for an hour-long trip to an old Viking stronghold. Drinks called “Viking Blood” were served and attendants were given Viking helmets to wear. Utensils were very limited—just like the Vikings would have used (or not used, as the case may be). It all started when someone tossed a piece of potato at somebody else to get their attention, and within minutes the air was filled with food as chaos erupted within
the hall!</p>
  <p class="page-heads" style=" color:#696969; font-size:15px; letter-spacing:0px; text-align:left;">  — Andy Quinn, Director of Community Relations, Kennywood Park, West Mifflin, Pennsylvania, United States</p>
  </div>
</div>

<hr style="width:85%; border: .5px solid #b09b66; margin-top:25px; margin-bottom:25px;">


<div class="story-container" style="">
  <div class="story-box left"style="">
    <p class="page-heads" style="font-size:15px; letter-spacing:0px; text-align:left; color:#696969;">
      <img style="display:inline; float:right; margin-left:5px; margin-bottom:2px;"src="assets/img/stories/benassini.png" alt="">My favorite IAAPA moment was during the Dubai leadership conference, where we were treated as VIPs, while visiting some of the most iconic places in the country. Plus, seeing all of the parks and attractions, both operating and under construction at the time. The whole trip proved utterly to be an absolutely amazing experience.
    </p>
    <p class="page-heads story-names" style=" color:#696969; font-size:13px; letter-spacing:0px; text-align:center;">  — Guido Benassini, CIO, Ventura Entertainment Group, Mexico</p>

  </div>

  <hr class="story-line" style="height:220px; margin-top:55px; border:.5px solid #b09b66; margin-left:0px; margin-right:0px;">

  <div class="story-box mid"style="">
    <p class="page-heads" style="font-size:15px; letter-spacing:0px; text-align:left; color:#696969;">
      <img style="display:inline; float:right; margin-left:20px; margin-bottom:2px;"src="assets/img/stories/canon.png" alt="">I hold pleasant memories of my first IAAPA event. I remember how much we walked across the trade show, looking for informational leaflets, and, later, how much our growing collection weighed!  That memory still generates a smile. Today, the network we create at IAAPA events continues to grow. I tell many to listen to the Legends panel. The quality and humility of these great personalities of the industry are always a highlight.
    </p>
    <p class="page-heads story-names" style=" color:#696969; font-size:13px; letter-spacing:0px; text-align:center; margin-top:-2px; margin-bottom:40px;">  — Valeria Canon, Commercial Manager and Owner, Aquopolis Water Parks, Mar del Plata, Argentina</p>

  </div>

<hr class="story-line" style="height:220px; margin-top:55px; border:.5px solid #b09b66; margin-left:0px; margin-right:0px;">

  <div class="story-box right"style="">
    <p class="page-heads" style="font-size:15px; letter-spacing:0px; text-align:left; color:#696969;">
      <img style="display:inline; float:right; margin-left:5px; margin-bottom:2px;"src="assets/img/stories/andersen.png" alt="">Some of the events, especially in connection with EAS, have been remarkable. The reception at Musée des Arts Forains in Paris a few years ago, or in 2016 at Tibidabo in Barcelona. I call them my “pinch-pinch moments”—moments when I can’t believe how lucky I am to be part of this community.
    </p>
    <p class="page-heads story-names" style=" color:#696969; font-size:13px; letter-spacing:0px; text-align:center;">  — Andreas Andersen, CEO, Liseberg, Gothenburg, Sweden</p>

  </div>
</div>

<hr style="width:70%; border: .5px solid #b09b66; margin-top:50px; margin-bottom:50px;">


<div style="width:80%; margin:auto; margin-top:60px;">
  <p class="page-heads" style="">SHARE YOUR STORY</p>
  <p style="text-align:center; font-weight:lighter; font-size:18px; display:inline-block; margin-top:-18px; color:#696969">There is no IAAPA without the members it serves. For a century, the association has helped members. Members define IAAPA, and now we'd like you to help us tell that story.

  Simply fill out the form below to share your story or photos. To share a video, e-mail Prasana William, IAAPA Manager, Digital Content and Strategy, at PWilliam@IAAPA.org.
  </p>
</div>

<div class="form-body">
<form id="form" class="topBefore" ng-submit="vm.saveForm()">

		  <div class="form-row" style="">
        <input id="name" type="text" placeholder="NAME" ng-model="vm.name">
        <input id="email" type="text" placeholder="E-MAIL" ng-model="vm.email">
      </div>
      <div class="form-row" style=""><input id="name" type="text" placeholder="COMPANY" ng-model="vm.company"> <input id="name" type="text" placeholder="TITLE" ng-model="vm.title"><input id="name" type="text" placeholder="LOCATION" ng-model="vm.location"></div>
		  <!-- <input id="email" type="text" placeholder="E-MAIL"> -->
		  <textarea id="message" style="" type="text" placeholder="YOUR STORY" ng-model="vm.story"></textarea>
      <input id="submit" type="submit" value="SUBMIT">

</form>

    <script src="js/index.js"></script>

</div>

<hr style="width:70%; border: .5px solid #b09b66; margin-top:80px;">


<div class="story-container" style="">

  <div class="story-box left" style="">
    <p class="page-heads" style="font-size:15px; letter-spacing:0px; text-align:left; color:#696969;">
      <img style="display:inline; float:right; margin-left:5px; margin-bottom:2px;"src="assets/img/stories/groskreutz.png" alt="">When I first visited IAAPA [Attractions Expo] years ago and saw the sheer volume and variety of options available, it really helped open my creative mind and visualize new experiences for our guests. It was very invigorating!
    </p>
    <p class="page-heads story-names" style=" color:#696969; font-size:13px; letter-spacing:0px; text-align:center; margin-top:40px;">  — Dusti Groskreutz, President, Reunion Tower, Dallas, Texas, United State</p>

  </div>

  <hr class="story-line" style="height:220px; margin-top:55px; border:.5px solid #b09b66;margin-left:0px; margin-right:0px;">

  <div class="story-box mid"style="">
    <p class="page-heads" style="font-size:15px; letter-spacing:0px; text-align:left; color:#696969;">
  <img style="display:inline; float:right; margin-left:5px; margin-bottom:2px;"src="assets/img/stories/mack.png" alt="">I have two favorite memories. The first one was when my father, Franz Mack, was inducted into the IAAPA Hall of Fame in 2005. And the second memory is when I received this great honor myself 11 years later. Two truly incredible moments. My father has always been a role model for me, and the fact that both of us have received this exceptional honor will be unforgettable for me and my family.
    </p>
    <p class="page-heads story-names" style=" color:#696969; font-size:13px; letter-spacing:0px; text-align:center;">  — Roland Mack, Co-founder and Managing Partner, Europa-Park, Rust, Germany</p>

  </div>

<hr class="story-line" style="height:220px; margin-top:55px; border:.5px solid #b09b66; margin-left:0px; margin-right:0px;">

  <div class="story-box"style="">
    <p class="page-heads" style="font-size:15px; letter-spacing:0px; text-align:left; color:#696969;">
      <img style="display:inline; float:right; margin-left:5px; margin-bottom:2px;"src="assets/img/stories/rodrigues.png" alt="">My favorite memory from IAAPA Attractions Expo was the time where we had the chance to go backstage at the “Fantasmic!” show at Disney’s Hollywood Studios. Meeting the crew and learning about all the processes to make that show possible was incredible. But the very best of all was seeing the show’s dragon activated from the operation cabin. This memory will never be forgotten.
    </p>
    <p class="page-heads story-names" style=" color:#696969; font-size:13px; letter-spacing:0px; text-align:center;">  — Emilio Rodrigues, Operations Director, Show Play, São Paulo, Brazil</p>

  </div>
</div>

<hr style="width:85%; border: .5px solid #b09b66; margin-top:25px; margin-bottom:50px; margin-top:80px;">


</div>
